/* -------------------------------------------------------CHATBOT------------------------------------------------------------------- */

.dTFZIe{
    width: 600px !important;
    background: #b9d3f1 !important;
  }
  
  @media screen and (max-width: 650px){
  .dTFZIe {
      border-radius: 0;
      bottom: 0 !important;
      left: initial !important;
      height: 100%;
      right: 0 !important;
      top: initial !important;
      width: 100% !important;
  }
  }
  
  @media screen and (max-width: 568px){
    .dTFZIe {
        border-radius: 0;
        bottom: 0 !important;
        left: initial !important;
        height: 92% !important;
        right: 0 !important;
       margin-top: 100px !important;
    }
  }
  /* Response  */
  .ihgPeA{
    background: #ffffff !important;
    color: #3333ff !important;
  }
  .ihgPeA:hover{
    background: #3333ff !important;
    color: #fff !important;
  }